html{
    background-color: #020202;
}

.bunker{
    width: 100%;
}

.holi{
    display: flex;
    margin: 5px;
    width: 100%;
}

.moto1{
    width: 50%;
}

/* .row .col-50:nth-child(1){
    background-color: chocolate;
}
.row .col-50:nth-child(2){
    background-color:cornflowerblue;
} */

.holi .moto1 figure{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}

.holi .moto1 figure img{
    width: 80%;
}

.holi .moto1:nth-child(1) div{
    width: 80%;
    margin: 40px auto;
}

.holi .moto1:nth-child(2) div{
    width: 80%;
    margin: 40px auto;
}

.holi .moto1 div a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: orangered;
    font-size: 1.9rem;
}

.holi .moto1 div p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.5rem;
}
